.jumbotron-fluid {
    background-color: rgb(117, 183, 241);
    background-image: url("https://pbs.twimg.com/media/D1oXFWYUYAAakBp.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(0, 0, 0, 0.792);
}

.card {
    background-color: lightgray;
}


/* .row {
    background-color: lightgray;
} */


/* #forecast-header {
    background-color: lightblue;
} */

#forecast-row {
    background-color: lightgray;
}

.favorable {
    color: black;
    background-color: #94f394;
}

.moderate {
    color: black;
    background-color: rgb(252, 246, 132);
}

.severe {
    color: white;
    background-color: rgb(239, 137, 137);
}

.badge {
    font-size: 100%;
}

#weather-icon {
    max-width: 50px;
    max-height: 50px;
}